@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    box-sizing: border-box;

}

.sidebar {
    position: fixed;
    height: 100vh;
    width: 260px;

}

.sidebar .logo-details {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background: black;
}

.sidebar .logo-details i {
    font-size: 30px;
    color: aliceblue;
    background: rgb(3, 0, 48);
    min-width: 78px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.sidebar.logo-details,
.logo_name {
    font-size: 22px;
    color: white;
    font-weight: 600;
}

a,
i {
    color: white;
}

.sidebar>.nav-links {
    background: linear-gradient(to top left, #058c15, #5a58f1);
    height: 100%;
    padding-top: 10px;
    overflow: auto;
    width: 100%;
    transition: width 1s;
}

.sidebar .nav-links li i {
    min-width: 58px;
    height: 40px;
    text-align: center;
    line-height: 50px;
}

.bxs-chevron-down {
    float: right;
    rotate: 0deg;
    transition: rotate 1s;

    &.rotate {
        rotate: 180deg;
    }
}

.sidebar:not(.showMenu){
    #dashboardMenu,
#categoryMenu,
#linkMenu,
#calenderMenu,
#helpMenu {
    background: linear-gradient(to bottom right, #9ac4ff, #007d43);
    transition: height 0.6s;
    overflow: hidden;
    padding: 0;
    height: 0;
   

    &.show {
        height: 210px;

    }
}
}

li:hover {
    background: linear-gradient(to bottom right, #56aaf8, #09ff013e);
    
}

li {
    list-style: none;
}

a:hover {
    color: rgba(145, 165, 255, 0.973);

}

a {
    font-size: large;
    font-weight: 500;
    text-decoration: none;

    .link_name {
        text-decoration: underline;
    }
}

.link_name {
    text-decoration: underline;
    color: #3c0558;
  font-weight: 560;
}

.insideDashboardMenu {
    display: none;
    position: absolute;
    left: 260px;
    width: 200px;
    height: auto;
    background:linear-gradient(to bottom left, rgb(255, 83, 83), rgb(135, 213, 255));
}

.insideMenuA {
    width: 100%;
    padding: 0.25rem 0.5rem;
    display: block;

    .link_name {
        margin-left: 51px;
    }

    &:hover+.insideDashboardMenu {
        display: block;
    }
}

.sidebar {

    .menuButton {
        position: absolute;
        background: linear-gradient(to bottom right, #76ffd6, #201e96);
        padding: 0.26rem;
        left: 260px;
        transition: left 1s;

        .bxs-chevron-left {
            display: none;
        }

        .bxs-chevron-right {
            display: block;
        }

        &.showMenu {
            left: 58px;

            .bxs-chevron-left {
                display: block;
            }

            .bxs-chevron-right {
                display: none;
            }

        }

    }

    .showMenu+.nav-links {
        width: 60px;


    }

    .showMenu + ul > li > a *:not(.menuIcons) {
        display: none;
    }
    

.showMenu + ul li ul.show{
    position: absolute;
    left: 60px;
    background-color: green;
    width: 200px;
    height: 200px;
}
}

.nav-links2 i {
    display: none;
}

.nav-links2 span {
    margin-left: 60px;
    font-size: 19px;
    transition: font-size 0.2s;
}

.nav-links2 span:hover {
    border: solid blueviolet;
    border-radius: 4px;
    padding: 2.2px;
    font-size: 21px;
    

}
.Trollll{
    margin:20%;
    transform: translateX(50%);
}
.menu{
    background-color: rgb(201, 227, 250);
    width: 70px;
    /* margin-left: 40%; */
    font-family: cursive;
    font-style:italic;
    border-radius: 6.7px;
    border: 1px solid rgb(40, 40, 80);
    font-size: 16px;
    line-height: 2.5;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
margin-left: 10px;
position: relative;
background: linear-gradient(to bottom right, #76ffd6, #201e96);
}

.firstMenu{
  position: absolute;
  /* display: none; */
  margin: 0;
  padding: 0;
  width: 100%;
  left: 0;
  /* width: 100px; */
  overflow: hidden;
  height: 0px;
  transition: height 2s;
}
.menu:hover .firstMenu{
 /* display: block;  */
height: 166px;

}
.header{
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgb(247 2 2) 49%, rgba(0, 212, 255, 1) 99%);
  
}
.loginWrapper{
  width: 20%;
    justify-content: space-between;
    display: flex;
    align-self:center;

}
.menuWrapper{
align-self:center;
display: flex;

 
}
.menuLis{
  list-style: none;
  margin-bottom: 2px;
}
.menuA{
  cursor: pointer;
  width: 100%;
  display: block;
  
  border-radius: 5px;
  background: linear-gradient(to bottom right, #739ef0, #a6f3b9);
}
.menuA:hover{
    border: solid black 1px;
    
  border-radius: 5px;
 
  background: linear-gradient(to bottom right, #739ef0, #a6f3b9);
}
.button1 {
  align-self: center;
  /* margin-left: 70%; */
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 2.5;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action:manipulation;
    white-space: nowrap;
  }
  .button1:hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }

  
  
  /* CSS */
  .button-45 {
    /* margin-left: 70%; */
    align-self: center;
    align-items: center;
    background-color: #FFE7E7;
    background-position: 0 0;
    border: 1px solid #FEE0E0;
    border-radius: 11px;
    box-sizing: border-box;
    color: #D33A2C;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    line-height: 33.4929px;
    list-style: outside url(https://www.smashingmagazine.com/images/bullet.svg) none;
    padding: 2px 12px;
    text-align: left;
    text-decoration: none;
    text-underline-offset: 1px;
    transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    word-break: break-word;
  }
  
  .button-45:active,
  .button-45:hover,
  .button-45:focus {
    outline: 0;
  }
  
  
  .button-45:active {
    background-color: #D33A2C;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
    color: #FFFFFF;
  }
  
  .button-45:hover {
    background-color: #FFE3E3;
    border-color: #FAA4A4;
  }
  
  .button-45:active:hover,
  .button-45:focus:hover,
  .button-45:focus {
    background-color: #D33A2C;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
    color: #FFFFFF;
  }




.button-18 {
  align-self: center;
  /* margin-left: 70%; */
  align-items: center;
  background-color: #0aafbb;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}


.button-18:hover { 
  background-color: #16437E;
  color: #ffffff;
}
#logo{
  width: 160px;
  height: 140px;
   position: fixed; 
 /* margin-right: 70%;
 margin-bottom: 90%; */

}

.caption{
border: solid red 2px;
overflow: hidden;
position: absolute;
margin-left: 50%;

left:30px;
  width: 30px;
  height: 30px;
font-size: 1px;
transition: all 0.3s;
}
.captionWrapper{
 margin-left: 50%;
}
.captionWrapper:hover .caption{
font-size: 20px;
transform: translateX(-70px);
width: 100px;

font-size: 20px;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  .button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    letter-spacing: 1px;
    transition: transform 0.6s ease,letter-spacing 1s;
   
   
  }
}



.container:hover .button, .button.right:hover{
  letter-spacing: 6px;
  transform: translateX(-190px); /* Adjust this value to change the distance */
}

footer{
    background-color: rgb(255, 104, 104);
    width: 100%;
    height: 2rem;
    font-size: 20px;
    color: black;
    position: sticky;
    bottom: 0px;
    display: flex;
    justify-content: center; 
    
}



